<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit class list</title>
</head>
<body>
  <form action="api/edit" method="post">
    <div>
      <label for="studentID">Enter The Student's ID:</label>
      <input type="text" id="studentID" name="studentID">
    </div>
    <div>
      <label for="studentName">Enter The Student's new name:</label>
      <input type="text" id="student" name="student">
    </div>
    <div class="button">
      <button type="submit">Edit</button>
    </div>
  </form>
</body>
</html>